.post-entry .post-text .readmore {
    border: 1px solid #2d71a1;
    padding: 10px;
}

.post-entry .post-text .readmore:hover {
    background: #2d71a1;
    padding: 10px;
    color: #fff;
}
.formulario {
    box-shadow: 0 0 24px 1px rgb(0 0 0 / 10%);
}

.cta-section-newsletter {
    background: linear-gradient(to right, rgb(4, 71, 138) 0%, rgb(61, 179, 197) 100%);
    color: #fff;
}