.post-entry .post-text .readmore {
    border: 1px solid #2d71a1;
    padding: 10px;
}

.post-entry .post-text .readmore:hover {
    background: #2d71a1;
    padding: 10px;
    color: #fff;
}

.formulario {
    box-shadow: 0 0 24px 1px rgb(0 0 0 / 10%);
}


/* CTA Section */
.newsletter {}

.newsletter h2 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .newsletter h2 {
        font-size: 2rem;
    }
}

.newsletter .btn {
    color: #fff;
}

.newsletter .btn i {
    margin-right: 5px;
    font-size: 24px;
    line-height: 0;
}