.formulario {
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 24px 1px rgb(0 0 0 / 10%);
}

.titulos {
    font-weight: 700;
}

.texto-preto {
    color: black;
}

@media screen and (max-width: 768px) {
    .hero-section, .hero-section>.container>.row {
        height: 100vh;
        min-height: 1033px;
    }
}



